{% load cms_tags thumbnail %}
{% if not instance.glossary.hide %}
	{% with css_classes=instance.css_classes inline_styles=instance.inline_styles background=instance.glossary.background crop=instance.glossary.crop %}
		{% if instance.image %}{% thumbnail instance.image 1200x1024 crop=crop as thumb %}{% endif %}
<section class="{{ css_classes }}"{% if inline_styles %} style="{{ inline_styles }}"{% endif %}{% if thumb %} data-background="{{ thumb.url }}"{% endif %}>
	{% for plugin in instance.child_plugin_instances %}
		{% render_plugin plugin %}
	{% endfor %}
</section>
	{% endwith %}
{% endif %}
